* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
    background-image: url(../img/pattern.png);
    background-color: cornflowerblue;
    background-size: contain;
    background-repeat: repeat;
}

.logo {
    width: 150px;
    line-height: 120px;
}